aside
	a(href="#").aside__logo
		img(src="img/svg/logo.svg" alt="Logo")
	ul
		li
			a(href="#")
				img(src="img/aside-ico-1.png" alt="Ico" width="26")
				span Главная
		li
			a(href="#")
				img(src="img/svg/aside-ico-2.svg" alt="Ico")
				span Профиль
		li.li_active
			a(href="#")
				img(src="img/svg/aside-ico-3.svg" alt="Ico")
				span Запись на приём
				span.span-mob Запись
		li.li__logo_mob
			a(href="#")
				img(src="img/svg/logo-mob.svg" alt="Ico")
		li
			a(href="#")
				img(src="img/svg/aside-ico-4.svg" alt="Ico")
				span Лечение
		li
			a(href="#")
				img(src="img/svg/aside-ico-5.svg" alt="Ico")
				span Оплата
		li
			a(href="#")
				img(src="img/svg/aside-ico-6.svg" alt="Ico")
				span Услуги








