extends includes/header.pug

block content

	body.body-bgd.page-agreement
			
		section.page-agreement__content
			.wrapper
				a(href="#").header__logo
					img(src="img/svg/logo.svg" alt="Logo")
				h2 Согласение на обработку персональных данных <br />ООО «Медекаденталгрупп» 
				h2.mob Соглашение на обработку персональных данных
				.page-agreement__block
					.page-agreement__text
						p Настоящим, оферент ООО «МедекаДенталГрупп», в соответствие с положениями ст. ст. 435 – 436 Гражданского кодекса РФ, предлагает адресату - физическому или юридическому лицу, заключить договор о возмездном оказании стоматологических услуг (далее – Договор). Данное предложение выражает намерение оферента считать себя заключившим договор с тем адресатом, которым это предложение будет принято (акцептовано) на следующих условиях:
						h3 1 ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
						p 1.1. Исполнитель – Общество с ограниченной ответственностью «МедекаДенталГрупп» (Свидетельство о государственной регистрации юридического лица в Едином государственном реестре юридических лиц выдано Межрайонной инспекцией Федеральной налоговой службы № 46 по г. Москве 16.10.2013 года, ОГРН 1137746956478), оказывающий медицинские стоматологические услуги на основании лицензии, выданной департаментом здравоохранения города Москвы за № ЛО-77-01-009886 от 12.03.2015г. (далее – МедекаДенталГрупп). 
						p 1.2. Пациент – физическое лицо, получающие стоматологические медицинские услуги, оказываемые Исполнителем в объемах и порядке, установленном настоящим Договором, включая дополнения/приложениями к нему.
						p 1.3. Заказчик – физическое лицо или юридическое лицо (только в случае заключения Договора в пользу потребителей - физических лиц), заключающее настоящий Договор с Исполнителем. Заказчиком также может являться законный представитель Пациента, являющегося недееспособным/ограниченно дееспособным лицом, либо лицом, не достигшим 18-летнего возраста. Если субъекты Договора - Заказчик и Пациент совпадают в одном лице, то термины «Пациент» и «Заказчик» считаются для целей Договора равнозначными и применяются в тексте Договора, как совместно, так и раздельно.
						p Настоящим, оферент ООО «МедекаДенталГрупп», в соответствие с положениями ст. ст. 435 – 436 Гражданского кодекса РФ, предлагает адресату - физическому или юридическому лицу, заключить договор о возмездном оказании стоматологических услуг (далее – Договор). Данное предложение выражает намерение оферента считать себя заключившим договор с тем адресатом, которым это предложение будет принято (акцептовано) на следующих условиях:
						h3 1 ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
						p 1.1. Исполнитель – Общество с ограниченной ответственностью «МедекаДенталГрупп» (Свидетельство о государственной регистрации юридического лица в Едином государственном реестре юридических лиц выдано Межрайонной инспекцией Федеральной налоговой службы № 46 по г. Москве 16.10.2013 года, ОГРН 1137746956478), оказывающий медицинские стоматологические услуги на основании лицензии, выданной департаментом здравоохранения города Москвы за № ЛО-77-01-009886 от 12.03.2015г. (далее – МедекаДенталГрупп). 
						p 1.2. Пациент – физическое лицо, получающие стоматологические медицинские услуги, оказываемые Исполнителем в объемах и порядке, установленном настоящим Договором, включая дополнения/приложениями к нему.
						p 1.3. Заказчик – физическое лицо или юридическое лицо (только в случае заключения Договора в пользу потребителей - физических лиц), заключающее настоящий Договор с Исполнителем. Заказчиком также может являться законный представитель Пациента, являющегося недееспособным/ограниченно дееспособным лицом, либо лицом, не достигшим 18-летнего возраста. Если субъекты Договора - Заказчик и Пациент совпадают в одном лице, то термины «Пациент» и «Заказчик» считаются для целей Договора равнозначными и применяются в тексте Договора, как совместно, так и раздельно.
						p Настоящим, оферент ООО «МедекаДенталГрупп», в соответствие с положениями ст. ст. 435 – 436 Гражданского кодекса РФ, предлагает адресату - физическому или юридическому лицу, заключить договор о возмездном оказании стоматологических услуг (далее – Договор). Данное предложение выражает намерение оферента считать себя заключившим договор с тем адресатом, которым это предложение будет принято (акцептовано) на следующих условиях:
						h3 1 ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
						p 1.1. Исполнитель – Общество с ограниченной ответственностью «МедекаДенталГрупп» (Свидетельство о государственной регистрации юридического лица в Едином государственном реестре юридических лиц выдано Межрайонной инспекцией Федеральной налоговой службы № 46 по г. Москве 16.10.2013 года, ОГРН 1137746956478), оказывающий медицинские стоматологические услуги на основании лицензии, выданной департаментом здравоохранения города Москвы за № ЛО-77-01-009886 от 12.03.2015г. (далее – МедекаДенталГрупп). 
						p 1.2. Пациент – физическое лицо, получающие стоматологические медицинские услуги, оказываемые Исполнителем в объемах и порядке, установленном настоящим Договором, включая дополнения/приложениями к нему.
						p 1.3. Заказчик – физическое лицо или юридическое лицо (только в случае заключения Договора в пользу потребителей - физических лиц), заключающее настоящий Договор с Исполнителем. Заказчиком также может являться законный представитель Пациента, являющегося недееспособным/ограниченно дееспособным лицом, либо лицом, не достигшим 18-летнего возраста. Если субъекты Договора - Заказчик и Пациент совпадают в одном лице, то термины «Пациент» и «Заказчик» считаются для целей Договора равнозначными и применяются в тексте Договора, как совместно, так и раздельно.
						p Настоящим, оферент ООО «МедекаДенталГрупп», в соответствие с положениями ст. ст. 435 – 436 Гражданского кодекса РФ, предлагает адресату - физическому или юридическому лицу, заключить договор о возмездном оказании стоматологических услуг (далее – Договор). Данное предложение выражает намерение оферента считать себя заключившим договор с тем адресатом, которым это предложение будет принято (акцептовано) на следующих условиях:
						h3 1 ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
						p 1.1. Исполнитель – Общество с ограниченной ответственностью «МедекаДенталГрупп» (Свидетельство о государственной регистрации юридического лица в Едином государственном реестре юридических лиц выдано Межрайонной инспекцией Федеральной налоговой службы № 46 по г. Москве 16.10.2013 года, ОГРН 1137746956478), оказывающий медицинские стоматологические услуги на основании лицензии, выданной департаментом здравоохранения города Москвы за № ЛО-77-01-009886 от 12.03.2015г. (далее – МедекаДенталГрупп). 
						p 1.2. Пациент – физическое лицо, получающие стоматологические медицинские услуги, оказываемые Исполнителем в объемах и порядке, установленном настоящим Договором, включая дополнения/приложениями к нему.
						p 1.3. Заказчик – физическое лицо или юридическое лицо (только в случае заключения Договора в пользу потребителей - физических лиц), заключающее настоящий Договор с Исполнителем. Заказчиком также может являться законный представитель Пациента, являющегося недееспособным/ограниченно дееспособным лицом, либо лицом, не достигшим 18-летнего возраста. Если субъекты Договора - Заказчик и Пациент совпадают в одном лице, то термины «Пациент» и «Заказчик» считаются для целей Договора равнозначными и применяются в тексте Договора, как совместно, так и раздельно.
				a(href="#").accept Принять и продолжить
				.page-agreement__big
					img(src="img/svg/medeka-text.svg" alt="Medeka")


	include includes/footer-scripts.pug



























	