extends includes/header.pug

block content

	body.body-bgd.page-description
		main.wrapper
			include includes/aside.pug
			.main-right
				a(href="#").header__logo
					img(src="img/svg/logo.svg" alt="Logo")
				header
					.header
						a(href="#").header__appointment Запись на приём
						a(href="#").header__payment Оплата
						a(href="#").header__persone
							img(src="img/persone.png" alt="Persone")
							span Татьяна Иванова
						a(href="#").header__exit
							img(src="img/svg/exit.svg" alt="Exit")
							span Выход

				section.page-description__content
					#breadcrumbs
						a(href="#") Главная – 
						a(href="#") Услуги – 
						span Удаление зуба простое
					h1 Удаление зуба простое
					.page-description__block
						.block__photo
							img(src="img/description-1.jpg" alt="Photo")
						p Возможности современной стоматологии не всегда позволяют сохранить и вылечить зубы. В тяжелых случаях врач-стоматолог назначает их оперативное удаление. 
						p сильно разрушенные зубы, являющиеся очагом инфекций, гнойных заболеваний; <br />продольный перелом зуба, поперечный перелом зубного корня; <br />сильно испорченные зубные корни, которые невозможно использовать для протезирования; <br />сильно подвижные зубы (от 3-й степени), недостаточный объем костной ткани вокруг зуба; <br />непроходимость либо искривление корневых каналов; <br />обязательно назначается удаление коренного зуба, если он расположен неправильно и может привести к искривлению челюсти или нарушению зубного ряда либо прикуса; <br />.эстетические показания – как правило, это удаление передних зубов для последующей имплантации.
						p <b>Обследование</b> – тут очень важно понять сложность операции, изучить особенность состояния удаляемого зуба и учесть его расположение, ведь удаление зуба на нижней челюсти кардинально отличается от удаления верхних зубов.
						p Следующий этап – <b>анестезия</b>, подбор препарата в соответствии с временем действия и индивидуальной переносимостью.
						p Непосредственно процедура извлечения зуба из альвеолярного отростка.
						p <b>Завершающий этап</b> – обработка ранки (лунки), помещение в нее средства, которое способствует росту и укреплению костной ткани, дабы в будущем не возникло осложнений.
						a(href="#").back
							img(src="img/svg/back.svg" alt="Back")
							span Вернуться назад



	include includes/footer.pug
























	