extends includes/header.pug

block content

	body.body-bgd.page-profile
		.popup.popup-payblock
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/close.svg" alt="Close")
				h2 Счет № 234 от 07.08.2021 г.

				span.span__title Кому платим
				p.p__main ООО «МедекаДенталГрупп»
				a(href="#").a__bottom Показать реквизиты

				span.span__title Кто платит
				p.p__main Деревянко Татьяна Ивановна

				span.span__title За что оплата
				section.section-table.section-table__orders
					.section-table__content
						table
							thead
								tr
									td
										.td__sides
											span №
									td
										.td__sides
											span Наименование
									td
										.td__sides
											span Стоимость
							tbody
								tr
									td
										p 1
									td
										p Определение степени патологической подвижности зубов
									td
										p 750 руб.
								tr
									td
										p 2
									td
										p Консультация врача
									td
										p 1 500 руб.
								tr
									td
										p 1
									td
										p Удаление зуба простое
									td
										p 3 400 руб.
					.all-sum Итого 5 650 руб.
				input(type="checkbox")#popCh1
				label(for="popCh1").label-checkbox Даю <a href="#">добровольное согласие</a> на все виды услуг
				button(data-popup="thx").button-pay Оплатить
		.popup.popup-thx
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/close.svg" alt="Close")
				h2 Ваша заявка успешно отправлена!
				p Ожидайте звонка менеджера для подтверждения записи.
				button Спасибо
		main.wrapper
			include includes/aside.pug
			.main-right
				a(href="#").header__logo
					img(src="img/svg/logo.svg" alt="Logo")
				header
					.header
						a(href="#").header__appointment Запись на приём
						a(href="#").header__payment Оплата
						a(href="#").header__persone
							img(src="img/persone.png" alt="Persone")
							span Татьяна Иванова
						a(href="#").header__exit
							img(src="img/svg/exit.svg" alt="Exit")
							span Выход


				section.section-table.section-table__accounts
					h2.section-table__title Счета
					.section-table__content
						table
							thead
								tr
									td
										.td__sides
											span №
											.sort-ico
												img(src="img/svg/sort.svg" alt="Sort")
												img(src="img/svg/sort-1.svg" alt="Sort").reverse
									td
										.td__sides
											span Дата
											.sort-ico
												img(src="img/svg/sort.svg" alt="Sort")
												img(src="img/svg/sort-1.svg" alt="Sort").reverse
									td
										.td__sides
											span Статус
											.sort-ico
												img(src="img/svg/sort.svg" alt="Sort")
												img(src="img/svg/sort-1.svg" alt="Sort").reverse
									td
										.td__sides
											span Наименование
											.sort-ico
												img(src="img/svg/sort.svg" alt="Sort")
												img(src="img/svg/sort-1.svg" alt="Sort").reverse
									td
										.td__sides
											span Стоимость
											.sort-ico
												img(src="img/svg/sort.svg" alt="Sort")
												img(src="img/svg/sort-1.svg" alt="Sort").reverse
									td
							tbody
								tr
									td
										p 1
									td
										p 25.08.2021
									td
										.status.status_cancel отменен
									td
										p Зуб(ы): 11-18,21-28,31-38,41-48 Профессиональная игра в хокей
									td
										p 13 400 руб.
									td
								tr
									td
										p 2
									td
										p 31.08.2021
									td
										.status.status_waiting ожидает оплаты
									td
										p Первичная консультация гигиена
									td
										p 5700 руб.
									td
										button(data-popup="payblock") Оплатить
								tr
									td
										p 3
									td
										p 25.08.2021
									td
										.status.status_done оплачен
									td
										p Фторирование
									td
										p 1050 руб.
									td
					.section-table__bottom
						.pagination
							.pagination__arr.pagination__arr_prev
								img(src='img/svg/left.svg' alt="Prev")
							.pagination__num 1
							.pagination__num 2
							.pagination__num ...
							.pagination__num 9
							.pagination__num 10
							.pagination__arr.pagination__arr_next
								img(src='img/svg/right.svg' alt="Next")
						.section-table__all Всего: 1032
						.section-table__show
							p Показывать по: 
							ul
								li.li_active 10
								li 20
								li 30




	include includes/footer.pug



























	