extends includes/header.pug

block content

	body.body-bgd.page-services
		main.wrapper
			include includes/aside.pug
			.main-right
				a(href="#").header__logo
					img(src="img/svg/logo.svg" alt="Logo")
				header
					.header
						a(href="#").header__appointment Запись на приём
						a(href="#").header__payment Оплата
						a(href="#").header__persone
							img(src="img/persone.png" alt="Persone")
							span Татьяна Иванова
						a(href="#").header__exit
							img(src="img/svg/exit.svg" alt="Exit")
							span Выход

				.page-services__content
					#breadcrumbs
						a(href="#") Главная – 
						a(href="#") Услуги – 
						span Удаление зуба простое
					h1 Услуги
					.page-services__top
						.select
							.select__head
								span Выберите категорию
							.select__body
								span Выберите категорию
								span Выберите категори1
								span Выберите категори111
						.search
							input(placeholder="Поиск услуги ...")
							img(src="img/svg/search-lupa.svg" alt="Lupa")
					a(href="#").page-services__item
						h2 Определение степени патологической подвижности зубов
						p Ортопедия
					a(href="#").page-services__item
						h2 Консультация врача
						p Общее
					a(href="#").page-services__item
						h2 Удаление зуба простое
						p Хирургия
					a(href="#").page-services__item
						h2 Ортодонтическая коррекция
						p Ортодонтия
					a(href="#").page-services__item
						h2 Имплантация в области одноканального зуба
						p Имплантология
					a(href="#").page-services__item
						h2 Определение степени патологической подвижности зубов
						p Ортопедия




	include includes/footer.pug



























	